/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------------
            Mobile Styles
-----------------------------------*/
@media only screen and (min-width:320px) {
    body {
        line-height: 1.5;
    }

    *,
    *:after,
    *:before {
        box-sizing: inherit;
        line-height: inherit;
    }

    img {
        width: 100%;
    }

    .clearfix:after {
        content: '';
        display: table;
        clear: both;
    }

    body {
        margin: 0 auto;
    }

    /* Styling Navigation bar */
    #topnav {
        display: flex;
        margin-left: auto;
        flex-direction: column;
    }

    #topnav ul {
        display: none;
    }

    nav li {
        list-style: none;
        font-size: 20px;
        display: inline;
        font-family: 'Maven Pro', sans-serif;
        text-align: center;
        margin-top: 20px;
    }

    nav li a {
        color: white;
        text-decoration: none;
        padding: 12px 14px;
        text-align: center;
    }

    nav li {
        list-style: none;
        font-size: 20px;
        font-family: 'Maven Pro', sans-serif;
        margin-bottom: 20px;
    }

    header {
        background-color: #fcbaba;
    }

    /* Styling bag icon */
    #ib {
        text-decoration: none;
        border: none;
        font-size: 30px;
        color: black;
        background: none;
        margin-right: 25px;
    }

    /* End styling navigation */

    /* Styling bag inside */
    #ib1 {
        text-decoration: none;
        border: none;
        font-size: 30px;
        color: black;
        background: none;
    }

    #topnav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    #topnav ul {
        display: none;
    }

    .logo {
        width: 30%;
        margin-left: 25px;
    }

    #lgb {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    /* Styling Log in button */
    .login {
        width: 50px;
        margin-right: 36px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 10px;
        background-color: rgb(218, 207, 207);
        display: inline-block;
        font-size: 16px;
        padding: 5px 28px;
        border-radius: 19px;
        color: black;
        text-align: center;
        text-decoration: none;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        font-family: 'Bodoni Moda', serif;
        margin-top: 30px;

    }

    h2 {
        text-align: center;
        font-family: 'Bodoni Moda', serif;
        font-size: 25px;

    }

    p {
        font-size: 25px;
        font-family: 'Maven Pro', sans-serif;
        text-align: center;
    }

    /* Styling images */
    .bag {
        width: 50%;
        display: flex;
        margin: auto;
    }

    .productlist {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }

    /* Styling footer */
    footer p {
        font-size: 15px;
        text-align: center;
    }

    #sicon a {
        color: black;
        font-size: 30px;
    }

    h3 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #sicon {
        list-style: none;
        font-size: 20px;
        color: black;
        display: flex;
        justify-content: space-evenly;
    }

    #keep {
        background-color: #fcbaba;
        padding: 10px;
        margin-top: 30px;
    }

    .fa{
        text-align: center;
        margin-right: auto;
        display: block;
        margin-left: auto;
        font-size: 15px;
        border: none;
        background: none;
        color: black;
    }
}

@media only screen and (min-width:768px) {
    #header {
        display: flex;
    }

    .logo {
        width: 40%;
        margin: 12px;
    }

    nav li {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Maven Pro', sans-serif;
        padding: 20px;
        justify-content: space-evenly;
        text-decoration: solid;
    }

    nav li a {
        background-color: none;
        color: ưhite;
    }


    #topnav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-size: contain;
    }

    .productlist {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: auto;
        text-align: center;
    }

    .bag {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .bs {
        display: grid;
        grid-row: auto auto auto auto;
    }

    #topnav {
        display: flex;
        flex-direction: row;
    }
}

/* For Desktop Mockup */
@media only screen and (min-width:958px) {
    .logo {
        width: 32%;
    }

    #topnav {
        margin-right: 11px;
    }

}